body {
	background-image: url("https://st2.depositphotos.com/1192512/5197/v/950/depositphotos_51979779-stock-illustration-abstract-crystal-background.jpg");
}

#created {
	font-weight: lighter;
	font-style: italic;
	font-size: small;
	text-align: center;
}

#name {
	font-weight: lighter;
	font-style: italic;
	font-size: medium;
	text-align: center;
}

#banner {
	text-align: center;
	background-color: lightblue;
}
h1{
	background-color: #bbbbbb;
	
}

#wrapper {
	width: 100%
	max-width:960px;
	margin: 0 auto;
}

h4{
	text-align: center;
}
#instructions {
	color: white;
	background-color: #888666;
	width: 100%;
	clear:both;
	padding: 25px;
	margin-top: 20px;
	border: solid 1px #dddddd

}
.paragraph {
	text-align: center;
	font-style: italic;
}
#guessingNumber {
	width: 50%;
	background-color: #eeeeee;
	float: left;
	display: inline-block;
	padding: 20px;
	margin-top: 50px;
	border: solid 3px #888fff
}

#scoreboard {
	background-color: #aaaaaa;
	display: inline-block;
	padding: 15px 20px 10px 15px;
	margin-top: 60px;
	margin-left: 60px;
	border: solid 5px #eeeeee

}

#crystals {
	margin-top: 15px;
	margin-bottom:26px;

}

.crystalImage {
	height: 125px;
	border: solid 2px #333333;
	margin-left: 20px
}

.crystalImage:firstchild {
	margin-left: 0px;

}

#totalScore {
	margin-bottom: 40px;
}

#yts {
	background: #999999;
	display: inline;
	padding: 20px;
	border: solid 1px #ddd
}

.contact {
	font-size: 14px;

}